<!-- AM: Get rid of generated code like this next line. -->
<h1>Episodes#show</h1>

<hr>
<h2> <%= @episode.name %></h2>
<p class="episode">
Episode Number: <%= @episode.epnumb %> <br />
Video Link: <a href=<%= @episode.link_url %>><%= @episode.link_url %></a>
<hr>
Episode video:
<!-- AM: The video could use some additional layout CSS. Right now it expands beyond its container.-->
<iframe  width="600" height="400" frameborder="0"
 src='<%=@episode.link_url%>'
 allowfullscreen>

</iframe>

</p>

||||||||||||||||||||||

<!-- video_tag() -->



<p>Find me in app/views/episodes/show.html.erb</p>



<!-- <video width="320" height="240" controls>
  <source src="https://www.youtube.com/embed/6drfp_3823I" type="video/mp4">
  <! <source src="<%= @episode.link_url %>" type="video/ogg"> -->
<!-- Your browser does not support the video tag.
</video> -->
