<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFreeTv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav><%= link_to "SHOWS", shows_path  %> | <%= link_to "SEASONS", seasons_path  %> | <%= link_to "EPISODES", episodes_path  %> </nav>

  <body>
    <%= yield %>
  </body>
</html>
